<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mir_100" >

  <!-- MiR100 base -->
  <xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/common.gazebo.xacro" />
  <!-- UR5E base -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>
  <!-- RG2 Gripper base -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" />
  <!-- Kinect V2 base -->
  <xacro:include filename="$(find kinect_v2)/urdf/kinect_v2.urdf.xacro" />

  <xacro:arg name="tf_prefix" default="" />

  <xacro:property name="tf_prefix_" value="$(arg tf_prefix)" />
  <xacro:if value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="" />
  </xacro:if>
  <xacro:unless value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="${tf_prefix_}/" />
  </xacro:unless>

  <xacro:mir_100 prefix="${prefix}"/>


  <!-- MIR + UR5E + Robotiq + Kinect V2-->
  <xacro:ur5e_robot prefix="${tf_prefix}_ur5e" />

  <joint name="${tf_prefix}_ur5e_fixed_joint" type="fixed">
    <origin xyz="0 0 0.35" rpy="0 0 0" />
    <parent link="$(arg tf_prefix)/base_link"/>
    <child link="${tf_prefix}_ur5ebase_link"/>
  </joint>

  <link name="${tf_prefix}robotiq_coupler">
    <visual>
    <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
    </geometry>
    <material name="flat_black"/>
    </visual>
    <collision>
    <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
    </geometry>
    </collision>
    <inertial>
    <origin xyz="2.073e-05   1.45286e-03  -1.1049e-03" rpy="0 0 0" />
    <mass value="0.168" />
    <inertia ixx="6.69695624e-05" ixy="5.21511788e-09" ixz="-2.74383009e-08" 
            iyy="7.85088161e-05" iyz="5.41105193e-07" izz="1.41819717e-04"/>
    </inertial>
  </link>

  <xacro:robotiq_85_gripper prefix="${tf_prefix}" parent="${tf_prefix}robotiq_coupler" >
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:robotiq_85_gripper>

  <gazebo reference="$(arg tf_prefix)robotiq_coupler">
    <mu1>0.9</mu1>
    <mu2>0.9</mu2>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <joint name="$(arg tf_prefix)robotiq_coupler_joint" type="fixed">
    <origin xyz="0 0 0.004" rpy="0 0 ${-pi/2.0}" />
    <parent link="${tf_prefix}_ur5etool0"/>
    <child link="$(arg tf_prefix)robotiq_coupler"/>
  </joint>

  <xacro:kinect_v2  parent="$(arg tf_prefix)_ur5etool0">
    <origin xyz="0.0 0.0 0"
            rpy="0 0 0" />
  </xacro:kinect_v2>




  <!-- Gazebo plugin -->
  <gazebo reference="$(arg tf_prefix)_ur5ewrist_3_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
      <plugin name="ft_sensor_plugin" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>250.0</updateRate>
      <topicName>wrench</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <jointName>$(arg tf_prefix)_ur5ewrist_3_joint</jointName>
      </plugin>
  </gazebo>


  <gazebo>
      <gripper name="gazebo_gripper">
      <grasp_check>
          <attach_steps>2</attach_steps>
          <detach_steps>2</detach_steps>
          <min_contact_count>3</min_contact_count>
      </grasp_check>
      <gripper_link>$(arg tf_prefix)robotiq_85_left_finger_tip_link</gripper_link>
      <gripper_link>$(arg tf_prefix)robotiq_85_right_finger_tip_link</gripper_link>
      <palm_link>$(arg tf_prefix)robotiq_85_base_link</palm_link>
      </gripper>
  </gazebo>

  <xacro:controller_plugin_gazebo robot_namespace=""/>
</robot>
