<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mir_100" >

  <!-- MiR100 base -->
  <xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/common.gazebo.xacro" />
  <!-- UR5E base -->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>
  <!-- RG2 Gripper base -->
  <!-- <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" /> -->
  <!-- Kinect V2 base -->
  <xacro:include filename="$(find kinect_v2)/urdf/kinect_v2.urdf.xacro" />

  <xacro:arg name="tf_prefix" default="" />

  <xacro:property name="tf_prefix_" value="$(arg tf_prefix)" />
  <xacro:if value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="" />
  </xacro:if>
  <xacro:unless value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="${tf_prefix_}/" />
  </xacro:unless>

  <xacro:mir_100 prefix="${prefix}"/>


  <!-- MIR + UR5E + Robotiq + Kinect V2-->
  <xacro:ur5e_robot prefix="${tf_prefix}_ur5e" />

  <joint name="${tf_prefix}_ur5e_fixed_joint" type="fixed">
    <origin xyz="0 0 0.35" rpy="0 0 0" />
    <parent link="$(arg tf_prefix)/base_link"/>
    <child link="${tf_prefix}_ur5ebase_link"/>
  </joint>




  <xacro:kinect_v2  parent="$(arg tf_prefix)_ur5etool0" prefix="$(arg tf_prefix)">
    <origin xyz="0.0 0.0 0" rpy="0 0 0" />
  </xacro:kinect_v2>




  <!-- Gazebo plugin -->
  <gazebo reference="$(arg tf_prefix)_ur5ewrist_3_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
      <plugin name="ft_sensor_plugin" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>250.0</updateRate>
      <topicName>wrench</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <jointName>$(arg tf_prefix)_ur5ewrist_3_joint</jointName>
      </plugin>
  </gazebo>



  <xacro:controller_plugin_gazebo robot_namespace=""/>
</robot>
